{% extends 'base.html.twig' %}


{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="bg-dark container-fluid w-100 p-3" style='height: 100vh'>
    <h1 class='text-light text-center'>VazyGood Admin</h1>
    <div class="d-flex w-50  flex-column position-absolute top-50 start-50 translate-middle">
        <a href='{{ path('app_login') }}' type="button" class="btn btn-primary mb-5 fs-2">Connexion</a>
        <a href='{{ path('app_register') }}' type="button" class="btn btn-secondary fs-2">Inscription</a>
    </div>
</div>
{% endblock %}
